.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2rem;

    &__logo {
        width: 25rem;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        flex: 0 0 50%;
        @media only screen and (max-width: 600px) {
            flex: 0 0 10%;
        }
    }
    &__item {
        cursor: pointer;
    }
    &__link {
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: medium;
        color: $color-primary;
        display: flex;
        align-items: center;
        transition: all 0.5s;

        &:hover {
            color: $color-blue;
        }
        &:hover .icon {
            transform: translateX(-2px);
        }
    }
    #dark-mode {
        transition: all 0.3s;
    }
    .icon {
        font-size: 3rem;
        transition: all 0.3s;
        &:hover {
            color: $color-blue;
        }
    }
}
.header {
    text-align: center;
    padding: 10rem 0;

    @media only screen and (max-widht: 600px) {
        padding: 3rem;
    }

    &__img {
        width: 100%;
    }

    &__circle {
        outline: none;
        border: none;
        background-color: transparent;
        cursor: none;
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
        margin: 1rem auto;
    }


    .heading-primary {
        padding: 2rem;
    }
    .heading-secondary {
        padding: 2rem;
    }
    @media only screen and (max-width: 600px) {
        &__img {
            width: 20rem;
            height: 20rem;
        }
    }
}

.projects-container {
    background-color: $color-light;
    padding: 6rem 0;

    @media only screen and (max-width: 600px) {
        padding: 6rem 2rem;
    }

    &__heading {
        width: 100%;
        margin-bottom: 8rem;
        text-align: center;
        font-family: $font-primary;
        font-size: 4rem;
    }
}

.row {
    flex-direction: row;
    @media only screen and (max-width: 600px) {
        flex-direction: column;
    }
}
.row-rev {
    flex-direction: row-reverse;
    @media only screen and (max-width: 600px) {
        flex-direction: column;
    }
}
.projects {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 5rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 8rem;
        @media only screen and (max-width: 600px) {
            margin-bottom: 5rem;
        }
    }

    &__heading {
        // grid-column: 1 / -1;
        font-size: 2rem;
        margin-bottom: -8rem;
    }

    &__details {
        flex: 0 0 45%;
        transition: all 0.8s;
        align-self: center;
        // grid-template-columns: 0 / 1;

        // color: #fff;

        .number {
            float: right;
            font-size: 15rem;
            // margin-left: -5rem;
            margin-top: -3rem;
            line-height: 1;
            color: $color-light;
            text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

            @media only screen and (max-width: 600px) {
                font-size: 10rem;
            }
        }
        .name {
            font-size: 4rem;
            font-family: $font-primary;
            margin-bottom: 1rem;
            @media only screen and (max-width: 600px) {
                font-size: 3.5rem;
            }
        }
        .short-summery {
            font-size: 1.8rem;
            margin-bottom: 2rem;
        }
        .tech-used {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }
        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;

            li {
                padding: 0.5rem 1rem;
                font-size: 1.5rem;
                background-color: $color-light;
                color: $color-primary;
                border-radius: 3px;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
                margin-bottom: 1rem;

                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }
        .links {
            margin-top: 1rem;
        }
    }

    &__img-box {
        flex: 0 0 45%;
    }
    &__img {
        width: 100%;
        transition: all 0.5s;
        transform: scale(1);

        &:hover {
            transform: scale(0.98);
            border-radius: 1rem;
        }
    }
}

.footer {
    text-align: center;
    .heading-primary {
        padding: 15rem 0;
    }
    .heading-secondary {
        padding-bottom: 5rem;
    }

    .contact-links {
        padding: 2rem;
        width: fit-content;
        margin: 1rem auto;
        display: block;

        a {
            text-decoration: none;
            margin: 5px 10px;

            .icon {
                color: $color-primary;
                font-size: 40px;
                transition: all 0.5s ease-out;

                &:hover {
                    color: $color-blue;
                    transform: translateY(-5px);
                }
            }
        }
    }
    @media only screen and (max-width: 600px) {
        padding: 0 1.5rem;
        .contact-links {
            padding: 2rem 0;
        }
    }
}

.about-me-bg {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    @include flexCenter();

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    transition: all 0.2s ease-in-out;
}

.about-me {
    width: 80%;
    height: auto;
    background-color: $color-light;
    border-radius: 2px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    text-align: left;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    display: flex;
    overflow: hidden;

    &__banner {
        width: 50%;
        height: auto;
        background-image: url("../public/logo-mockup.jpg");
        background-size: cover;
        background-position: right;
    }

    &__details {
        width: 50%;
        padding: 3rem;
    }

    .close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 4rem;
        z-index: 25;
        line-height: 0.8;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: $color-blue;
        }
    }

    &__link-box {
        margin: 1.5rem 0;
    }
    &__link {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        color: $color-primary;
        margin-right: 2rem;

        &:hover {
            color: $color-blue;
        }
    }
    .heading-primary {
        margin-bottom: 2rem;
    }

    .paragraph {
        line-height: 1.6;
    }

    @media only screen and (max-width: 600px) {
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        max-height: 90vh;
        overflow: scroll;

        transform: translate(-50%, -40%);

        &__banner {
            width: 100%;
            height: 30vh;
        }

        &__details {
            width: 100%;
            text-align: left;
        }
    }
}

.emoji-button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 5rem;
    cursor: none;
}