.heading-primary {
    font-family: $font-primary;
    font-size: 5rem;
}
.heading-secondary {
    font-size: 2rem;
}
.paragraph {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.copyright {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 2rem 0;
    

}